DATABASE_URL="file:./prisma/dev.db"
YOUTUBE_API_KEY=""
APP_BASE_URL="https://timsieungach.com"
VIETQR_BANK_BIN="970436"
VIETQR_ACCOUNT_NO=""
VIETQR_ACCOUNT_NAME="TIM NTN YOUTUBE"
VIETQR_WEBHOOK_SECRET=""
